@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap');

body {
  margin: 0;
  /* background: #005AA7;  
  background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  
  background: linear-gradient(to top, #FFFDE4, #005AA7);  */
  font-family: 'Lato', sans-serif;
  background-image: url('Mystic.jpg');
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
